openapi: 3.2.0
info:
  title: Bear Cloud Servi API
  description: "Bear Cloud APIs define the control, navigation, monitoring, and fleet management\n interface for robots."
  version: 1.3.0
servers:
- url: https://api.bearrobotics.ai
security:
- BearerAuth: []
tags:
- name: Servi
  description: Servi-specific operations
paths:
  /v1/trays/calibrate:
    post:
      tags:
      - Servi
      description: "Calibrate the trays on the robot.\n\n Only applicable for tray-equipped robots (e.g., Servi, Servi Plus).\n\n Calibrates all trays if no tray names are provided.\n Returns an INVALID_ARGUMENT error and rejects the request if any tray name\n is invalid.\n Returns an empty response on success."
      operationId: APIService_CalibrateTrays
      requestBody:
        description: Robot identifier and tray calibration settings
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalibrateTraysRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalibrateTraysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
components:
  responses:
    Unauthorized:
      description: Unauthorized credentials, ensure the JWT is correct and up to date.
    GatewayTimeout:
      description: Server-side timeout, usually caused by the failure to send/receive commands/responses to the designated robot.
    BadRequest:
      description: Bad Request, usually caused by malfored request body.
      headers:
        grpc-status:
          schema:
            type: integer
          description: gRPC status code
        grpc-message:
          schema:
            type: string
          description: detailed error message
    ServiceUnavailable:
      description: Service is temporarily unavailable, which can usually be resolved by backoff retries.
    InternalServerError:
      description: Internal Server Error
  schemas:
    CalibrateTraysRequest:
      type: object
      required:
      - robotId
      properties:
        robotId:
          type: string
        selector:
          type: object
          properties:
            trayNames:
              type: array
              items:
                type: string
      description: Request object for calibrating trays
    CalibrateTraysResponse:
      type: object
      properties: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the /authorizeApiAccess endpoint
