openapi: 3.2.0
info:
  title: Bear Cloud Carti API
  description: "Bear Cloud APIs define the control, navigation, monitoring, and fleet management\n interface for robots."
  version: 1.3.0
servers:
- url: https://api.bearrobotics.ai
security:
- BearerAuth: []
tags:
- name: Carti
  description: Carti-specific operations
paths:
  /v1/conveyor-index/get:
    post:
      tags:
      - Carti
      description: "Retrieves the configured conveyor indexes for the robot.\n\n Indexes represent logical positions, not physical installation:\n - Carti 100 (vertical): INDEX_1ST = uppermost conveyor\n - Carti 600 (horizontal): INDEX_1ST = front facing conveyor"
      operationId: APIService_GetConveyorIndex
      requestBody:
        description: Robot identifier for conveyor index retrieval
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - robotId
              properties:
                robotId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConveyorIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/conveyor/control:
    post:
      tags:
      - Carti
      description: "Control conveyor motor operations for the specified conveyor indexes.\n\n This call allows manual control of conveyor motors for\n clockwise/counter-clockwise rotation or stop commands.\n\n This call will fail if:\n - Any specified conveyor index is not installed on the robot.\n - The robot is in an error state that prevents conveyor control.\n\n Notes:\n - Carti 100: CW = right, CCW = left (X-axis rotation)\n - Carti 600: CW = front→rear, CCW = rear→front (Y-axis rotation)"
      operationId: APIService_ControlConveyor
      requestBody:
        description: Robot identifier and conveyor control commands
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControlConveyorRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlConveyorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
components:
  responses:
    Unauthorized:
      description: Unauthorized credentials, ensure the JWT is correct and up to date.
    GatewayTimeout:
      description: Server-side timeout, usually caused by the failure to send/receive commands/responses to the designated robot.
    BadRequest:
      description: Bad Request, usually caused by malfored request body.
      headers:
        grpc-status:
          schema:
            type: integer
          description: gRPC status code
        grpc-message:
          schema:
            type: string
          description: detailed error message
    ServiceUnavailable:
      description: Service is temporarily unavailable, which can usually be resolved by backoff retries.
    InternalServerError:
      description: Internal Server Error
  schemas:
    ConveyorMotorCommand:
      type: object
      required:
      - index
      - command
      properties:
        index:
          type: integer
          format: int32
          description: Target conveyor index to control
        command:
          type: integer
          format: enum
          description: Motor command (stop, clockwise, or counter-clockwise). COMMAND_CONVEYOR_MOTOR_UNKNOWN (0) is not allowed.
      description: Command to control a conveyor motor
    GetConveyorIndexResponse:
      type: object
      properties:
        indexes:
          type: array
          items:
            type: integer
            format: int32
    ControlConveyorRequest:
      type: object
      required:
      - robotId
      - commands
      properties:
        robotId:
          type: string
        commands:
          type: array
          items:
            $ref: '#/components/schemas/ConveyorMotorCommand'
          description: List of conveyor motor commands to execute
      description: Request object for controlling conveyor operations
    ControlConveyorResponse:
      type: object
      properties: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the /authorizeApiAccess endpoint
